<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.ComAdminMapper">
    <select id="login"  resultType="ComAdmin" parameterType="ComAdmin">
     SELECT * from t_comadmin where userName=#{userName} and password=#{password}
   </select>
</mapper>
