<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.FloorMapper">
    <sql id="ifDemo">
        <if test="floor_serialNumber !=null and floor_serialNumber !=''">
            and floor_serialNumber = #{floor_serialNumber}
        </if>
        <if test="room_type !=null and room_type !=''">
            and room_type =#{room_type}
        </if>
        <if test="empty_bed !=null and empty_bed !=''">
            and empty_bed =#{empty_bed}
        </if>
    </sql>
    <select id="selectBypage" resultType="Floor" parameterType="Page">
        select * from t_floor
        <where>
            <include refid="ifDemo"></include>

        </where>
        order by room_type limit #{start},#{size}
    </select>
<select id="floorCount" resultType="Integer" parameterType="Page">
    select count(*) from t_floor
    <where>
        <include refid="ifDemo"></include>

    </where>
</select>
    <sql id="addKey">
        <trim suffixOverrides=",">
            <if test="floor_serialNumber!=null and floor_serialNumber!=''">
                floor_serialNumber,
            </if>
            <if test="room_type!=null and room_type!=''">
                room_type,
            </if>
            <if test="room_amount!=null and room_amount!=''">
                room_amount,
            </if>
            <if test="bed_amount!=null and bed_amount!=''">
                bed_amount,
            </if>
            <if test="people_amount!=null and people_amount!=''">
                people_amount,
            </if>
            <if test="empty_bed!=null and empty_bed!=''">
                empty_bed,
            </if>
            <if test="empty_room!=null and empty_room!=''">
                empty_room,
            </if>
        </trim>
    </sql>
    <sql id="addValues">
        <trim suffixOverrides=",">
            <if test="floor_serialNumber!=null and floor_serialNumber!=''">
                #{floor_serialNumber},
            </if>
            <if test="room_type!=null and room_type!=''">
                #{room_type},
            </if>
            <if test="room_amount!=null and room_amount!=''">
                #{room_amount},
            </if>
            <if test="bed_amount!=null and bed_amount!=''">
                #{bed_amount},
            </if>
            <if test="people_amount!=null and people_amount!=''">
                #{people_amount},
            </if>
            <if test="empty_bed!=null and empty_bed!=''">
                #{empty_bed},
            </if>
            <if test="empty_room!=null and empty_room!=''">
                #{empty_room},
            </if>
        </trim>
    </sql>
    <insert id="addFloor" parameterType="Floor">
        insert into t_floor(<include refid="addKey"/>)
        VALUES(<include refid="addValues"/>)
    </insert>
    <update id="updateFloor" parameterType="Floor">
        UPDATE t_floor set floor_serialNumber=#{floor_serialNumber},room_type=#{room_type},room_amount=#{room_amount},bed_amount=#{bed_amount},people_amount=#{people_amount},empty_bed=#{empty_bed},empty_room=#{empty_room} WHERE id=#{id}
    </update>
<delete id="deleteFloor" parameterType="Integer">
    DELETE FROM t_floor where id=#{id}
</delete>
</mapper>
