<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.OldpeopleMapper">
    <sql id="ifDemo">
        <if test="p_name !=null and p_name !=''">
            and p_name =#{p_name}
        </if>
        <if test="id_card !=null and id_card !=''">
            and id_card =#{id_card}
        </if>
    </sql>
    <select id="getOldpeople" parameterType="OldpeoplePage" resultType="Oldpeople">
        SELECT * FROM t_oldpeople
        <where>
            <include refid="ifDemo"></include>
        </where>
        limit #{start},#{size}
    </select>
    <select id="getCount" resultType="Integer" parameterType="OldpeoplePage">
        SELECT count(*) from t_oldpeople
        <where>
            <include refid="ifDemo"></include>
        </where>
    </select>
    <update id="update" parameterType="Oldpeople">
        update t_oldpeople  SET p_name=#{p_name},id_card=#{id_card},sex=#{sex},age=#{age},home_address=#{home_address},tel=#{tel},lastvisit_time=#{lastvisit_time},linkman=#{linkman},linkman_address=#{linkman_address},linkman_tel=#{linkman_tel},picture=#{picture} WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM t_oldpeople WHERE id=#{id}
    </delete>
    <sql id="addKey">
        <trim suffixOverrides=",">
            <if test="p_name!=null and p_name!=''">
                p_name,
            </if>
            <if test="id_card!=null and id_card!=''">
                id_card,
            </if>
            <if test="sex!=null and sex!=''">
                sex,
            </if>
            <if test="age!=null and age!=''">
                age,
            </if>

            <if test="home_address!=null and home_address!=''">
                home_address,
            </if>

            <if test="tel!=null and tel!=''">
                tel,
            </if>
            <if test="lastvisit_time!=null">
                lastvisit_time,
            </if>

            <if test="linkman!=null and linkman!=''">
                linkman,
            </if>
            <if test="linkman_address!=null and linkman_address!=''">
                linkman_address,
            </if>
            <if test="linkman_tel!=null and linkman_tel!=''">
                linkman_tel,
            </if>
            <if test="picture!=null and picture!=''">
                picture,
            </if>
        </trim>
    </sql>
    <sql id="addValues">
        <trim suffixOverrides=",">
            <if test="p_name!=null and p_name!=''">
                #{p_name},
            </if>
            <if test="id_card!=null and id_card!=''">
                #{id_card},
            </if>
            <if test="sex!=null and sex!=''">
                #{sex},
            </if>
            <if test="age!=null and age!=''">
                #{age},
            </if>

            <if test="home_address!=null and home_address!=''">
                #{home_address},
            </if>

            <if test="tel!=null and tel!=''">
                #{tel},
            </if>
            <if test="lastvisit_time!=null">
                #{lastvisit_time},
            </if>

            <if test="linkman!=null and linkman!=''">
                #{linkman},
            </if>
            <if test="linkman_address!=null and linkman_address!=''">
                #{linkman_address},
            </if>
            <if test="linkman_tel!=null and linkman_tel!=''">
                #{linkman_tel},
            </if>
            <if test="picture!=null and picture!=''">
                #{picture},
            </if>
        </trim>
    </sql>
    <insert id="add" parameterType="Oldpeople">
        insert into t_oldpeople(<include refid="addKey"/>)
        VALUES(<include refid="addValues"/>)
    </insert>

</mapper>
